<p id="notice"><%= notice %></p>

<h1>Phones</h1>
<%= link_to 'New Phone', new_phone_path, class: 'btn btn-secondary' %>
<table class="table">
  <thead>
    <tr>
      <th>Model</th>
      <th>IMEI</th>
      <th>Capacity</th>
      <th>Carrier</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td><%= phone.model %></td>
        <td><%= phone.imei %></td>
        <td><%= phone.capacity %></td>
        <td><%= phone.original_carrier %></td>
        <td class="td-actions">
        <button class="btn btn-primary btn-sm btn-icon" rel="tooltip">
          <i class="fa fa-pencil"></i>
        </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

