<% if @listing&.errors&.present? %>
  <% @listing.errors.each do |err| %>
    Error is : <%= err %>
  <% end %>n
<% end %>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <%= form_for @listing, method: 'put', scope: 'listing' do |f| %>
      <div class="form-group">
        <label for="headline" class="control-label">Headline</label>
        <%= f.text_field :headline, class: 'form-control' %>
        <label for="description">Description</label>
        <%= f.text_area :description, class: 'form-control' %>
        <label for="fine_print">Fine Print</label>
        <%= f.text_area :fine_print, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <label for="price">Price</label>
        <%= f.number_field :price, class: 'form-control' %>
      </div>
      
      <div class="form-group justify-content-around">
        <label for="listing_photos" class='btn btn-info'> Upload Images</label>
        <%= f.file_field :listing_photos, multiple: true, class: 'upload-field' %>
      </div>
      <ul class="filenames" style="list-style-type: none;">
        <li></li>
      </ul>
      <%= f.submit 'Update Listing', class: 'btn btn-block btn-success submit-btn' %>
    <% end %>
  </div>
  <div class="col-md-6 hidden-xs">
    <% @listing.listing_photos.last.tap do |photo| %>
      <div>
        <%= link_to delete_photo_listing_path(photo), method: :post do  %>
          <i class="fa fa-times fa-2x delete-photo" style="position: absolute;color: red;"></i>
        <% end %>
      </div>
        <%= image_tag photo.url unless photo.file.nil? %>
        <div class="clearfix"></div>
    <% end %>
    
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.upload-field').on('change', function () {
      $.each($(this)[0].files, function (i, val) {
        $('.filenames').append('<li>' + val.name + '</li>')
      })
    })
    
    $('.submit-btn').on('click', function (e) {
      // e.preventDefault();
    })
  })
</script>
