<% if can?(:create, Listing) %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-info pull-right" %>
<% end %>

<h2>Listings</h2>
<% if can?(:manage, Listing) %>
  <div class="btn-group">
    <button class="btn listings">Active</button>
    <button class="btn listings all-btn">All</button>
  </div>
<% end %>

<div class="row">
  
  <% @listings.each do |listing| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header row">
          <div class="col-sm-6">
            <h4><%= link_to listing.headline, listing_path(listing) %></h4>
          </div>
          <div class="col-sm-6">
            <% listing.listing_photos.each do |pic| %>
            <span class="pull-right">
              <%= image_tag pic.url(:thumb) %>
            </span>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <%= listing.description %>
        </div>
        <div class="card-footer weaker">
          Carrier: <%= listing.phone.original_carrier %>
          <span class="pull-right weaker">Capacity: <%= listing.phone.capacity %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
  
  <script type="text/javascript" charset="utf-8">
    $(function () {
      $('.listings').on('click', function (e) {
        if($(this).hasClass('all-btn')) {
          window.location = '<%= listings_path(scope: :all) %>';
        } else {
          window.location = '<%= listings_path%>';
        }
      })
    })
  </script>