<div class="logo" style="min-height: 80px;">
  <%= image_tag 'phonebook.png' %>
</div>

<% if user_signed_in? %>
  <div class="text-center text-primary">
    <span class="fa fa-google text-primary"></span>
    <%= current_user.email %>
  </div>
  <%= link_to 'Sign Out', signout_path, class: 'btn sidebar-btn btn-warning' %>

<% else %>
  <%= link_to signin_path, class: 'btn btn-success sidebar-btn' do %>
    <i class="fa fa-google"></i>
    Sign in
  <% end %>

<% end %>



<%= link_to  phones_path, class: ' btn sidebar-btn' do %>
  <i class="fa fa-mobile"></i>
  Phones
<% end %>

<%= link_to  tranzactions_path, class: 'btn sidebar-btn' do %>
    <i class="fa fa-handshake-o"></i>
  Transactions
<% end %>

<%= link_to 'Listings', listings_path, class: 'btn sidebar-btn' %>
<%= link_to 'About', pages_about_path, class: 'btn sidebar-btn' %>

<style>
  .sidebar-btn {
    width: 100%;
    color: white;
    display: block;
  }
    .mr1 {
      margin-right: 1em;
    }
    .mr2 {
      margin-right: 2em;
      
    }
</style>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.export').hover(function () {
      $(this).text('XLSX')
    }).on('mouseout', function () {
      $(this).text('Export')
    })
  })
</script>