<div class="logo">
  <%= image_tag 'phonebook.png' %>
</div>

<% if user_signed_in? %>
  <%= link_to 'Sign out', signout_path, class: 'btn sidebar-btn btn-warning' %>
<% else %>
  <%= link_to signin_path, class: 'btn btn-success sidebar-btn' do %>
    <i class="fa fa-google"></i>
    Sign in
  <% end %>

<% end %>


<%= form_with url: import_phones_data_phones_path, html: {style: 'width: 100%;'} do |f| %>
  <%= f.label :file, class: 'sidebar-btn block btn btn-block' do %>
    Import
    <%= f.file_field :file, style: 'display: none;' %>
  <% end %>
<% end %>



<!--  <div class="btn-group btn-block" role="group">-->
<!--    <button id="btnGroupDrop1" type="button" class="btn btn-block btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--      Export-->
<!--    </button>-->
<!--    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">-->
<%#= link_to 'Export CSV - Coming Soon', export_phones_data_phones_path(format: 'csv'), class: 'disabled dropdown-item' %>
<!--    </div>-->
<!--  </div>-->

<%= link_to 'Export', export_phones_data_phones_path(format: 'xlsx'), class: 'btn sidebar-btn export' %>
<%= link_to 'Phones', phones_path, class: ' btn sidebar-btn' %>
<%= link_to 'Transactions', transactions_path, class: 'btn sidebar-btn' %>
<%= link_to 'Listings', root_path, class: 'btn sidebar-btn' %>

<style>
  .sidebar-btn {
    width: 100%;
    color: white;
    display: block;
  }
</style>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.export').hover(function () {
      $(this).text('XLSX')
    }).on('mouseout', function () {
      $(this).text('Export')
    })
  })
</script>